div.diagram
{ 
  position: absolute;
  top: 200px;
  left: 5px;
  width: 48%;
  height: 70%;
  border: solid;
}


div.diagram p
{ 
  width: 600px;
  border: none;
}

div.diagram p img
{ 
  width: 100%;
  height: 90%;
  top: 0px;
}


div.diagram2 p img
{ 
  width: 100%;
  height: 90%;
  top: 0px;
  position: absolute;
}


div.diagram2 ul li
{
  top: 10px;
  position: absolute;
}


div.diagram2
{ 
  position: absolute;
  /*left: 710px;*/
  left: 50%;
  top: 200px;
  width: 48%;
  height: 70%;
  border: solid;
}


div.diagram2 p
{ 
  width: 600px;
  border: none;
}


div.centre
{ 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


div.centre2
{ 
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 1000px;
  border: none;
}

div p
{ 
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  width: 850px;
  height: 600px;
  border: none;
  botton: 200px;
}


div p img
{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 100px;
}

.footer img
{
    position: absolute;
    bottom: 200px;
}
