/src/graph/node.py~
/src/graph/node.pyc
/src/graph/vertex.py~
/src/graph/vertices.py~
/src/graph/__init__.pyc
/src/graph/edge.pyc
/src/graph/edge_test.pyc
/src/graph/node_test.pyc
/src/graph/vertex.pyc
/src/graph/vertex_test.pyc
/src/graph/vertex_test.py~
/lib/Machine Learning/src/10 Dimension Reduction/pca.py
/lib/Machine Learning/src/9 Unsupervised/som.py
/lib/Machine Learning/src/9 Unsupervised/somdemo.py
/src/som/som_test.py~
/lib/unsupervised/__init__.py
/lib/unsupervised/__init__.pyc
/lib/unsupervised/pca.py
/lib/unsupervised/pca.pyc
/lib/unsupervised/som.py
/lib/unsupervised/som.pyc
/lib/unsupervised/somdemo.py
/src/som/__init__.pyc
/src/som/som.pyc
/src/som/som_test.pyc
/pylib/pytidylib-0.2.1-py2.6.egg/tidylib/__init__.pyc
/pylib/pytidylib-0.2.1-py2.6.egg/tidylib/sink.pyc
/pylib/site.pyc
/lib/tidylib/__init__.pyc
/lib/tidylib/sink.pyc
/src/graph/#programme_tree.py#
/src/graph/programme_tree.pyc
/src/graph/programme_tree_test.pyc
/src/graph/programme_tree_test.py~
/src/programme/__init__.pyc
/src/programme/html/__init__.pyc
/src/programme/html/parser/Parser_test.pyc
/src/programme/html/parser/Parser_test.py~
/src/programme/html/parser/__init__.pyc
/src/programme/html/parser/__init__.py~
/src/programme/html/parser/function_list.pyc
/src/programme/html/parser/function_list_test.pyc
/src/programme/html/parser/function_list_test.py~
/src/programme/html/parser/page_finder.pyc
/src/programme/html/parser/page_finder.py~
/src/programme/html/parser/parser.pyc
/src/programme/html/parser/parser.py~
/src/programme/html/test.pyc
/src/programme/html/test.py~
/src/programme/html/test.py
/src/programme/html/parser/function_list.py~
/src/graph/programme_tree.py~
/src/graph/programme_tree.pyc
/src/graph/programme_tree_test.pyc
/src/graph/programme_tree_test.py~
/test.html
/test2.html
/programme.txt
/src/programme/graph/__init__.py~
/src/programme/graph/programme_tree_test.py~
/report/practice_presentation.org~
/report/practice_presentation.pdf
/report/practice_presentation.tex
/report/practice_presentation.tex~
/docs/Ideas.org~
/#README#
/docs/Ideas.pdf
/docs/Ideas.tex
/docs/Ideas.tex~
/docs/Ideas.txt
/docs/outline.pdf
/prototype/create.pyc
/src/programme/selection/programme.pyc
/src/programme/selection/rules.pyc
/src/programme/graph/__init__.pyc
/src/programme/graph/programme_tree.pyc
/src/constraints_satisfaction/degree.o
/src/constraints_satisfaction/libconstrain.so
/src/programme/selection/__init__.pyc
/src/programme/selection/paper.pyc
/report/report.aux
/report/report.dvi
/report/report.log
/report/report.out
/report/report.pdf
/report/report.toc
/report/tmp/practice_presentation.org~
/report/tmp/practice_presentation.tex~
/report/tmp/practice_presentation.tex
/report/tmp/practice_presentation.pdf
/src/constraints_satisfaction/propagator.o
/src/out.txt
/src/constraints_satisfaction/#major.cpp#
/src/constraints_satisfaction/.#major.cpp
/src/constraints_satisfaction/major.o
/src/db/paper.pyc
/src/db/__init__.pyc
/src/db/retrieve.pyc
/src/db/bsc.html
/src/db/degreeparser.pyc
/src/db/scheduleparser.pyc
/src/db/errors.txt
/report/diagrams/Workload_IO.dia~
/report/client-side_23d10d6ee75d47e6d6fa34721d30134fd6b3bb6b.png
/report/client-side_0c3231dba6daa14a7c2d95d7da7ad968e2c7be25.png
/report/mtv-django_86bdee4b8dc788730af76e1fccf1eca7b668c84a.png
/report/mtv-django_ed6fb928743c10862bca19dd5faaea688b0ca7e2.png
/report/postgrad_db_access_e9d77cff12da02163614602b162128e728fe09dd.png
/report/postgrad_db_mssql_8740db7a0b6d719fb50a7050a601fd8f9c089f27.png
/report/report.tex
/report/postgrad_db_mssql_53bd7b2687ee8c8e36e2006f1c66738b2dfa167e.png
/report/cluster_leader_to_seat_manager_359b6be6e5f53fecd8944ccd131651f4a17e7127.png
/report/mtv-django_bafad76620440664335769257d90de2b09dab23e.png
/report/workload_er_0196e141d451d6cdbc701ed48846681f6be1dffd.png
/report/cluster_leader_to_seat_manager_4bfb4a996abf582fae79210f09647ee9cf11019e.png
/report/mtv_django_bafad76620440664335769257d90de2b09dab23e.png
/report/postgrad_db_mssql_d0ac433bb37685b0560cb4227b2d7fdaf5c91063.png
/report/client-side_47b4babcee72ba7a3a4ed028e9838f0228c8618b.png
/report/cluster_leader_to_seat_manager_b1d52f2c5542f2dd863708faf160618f7d6e0c10.png
/report/mtv-django_f161cac0de618791f1f59dbc641bfdd02d915e10.png
/report/mtv_django_253877f140188ba443a8fdee2a4ac818bbb80893.png
/report/postgrad_db_access_b93af80fa01d39b60974b9317048bcab87b45ee5.png
/report/postgrad_db_mssql_5e1b2d495479e1441118f21f0892bc92d45da19d.png
/report/mtv_django_bafad76620440664335769257d90de2b09dab23e.png
/report/postgrad_db_mssql_d0ac433bb37685b0560cb4227b2d7fdaf5c91063.png
/report/workload_process_c9a098600dedf8b460e19c5df7d4db1717af6d57.png

/report/postgrad_db_access_130a65b6186beae003bc8ebe475a6bf8a6e1b32c.png
/report/client-side_9f735f0fa75e0e2e7363ce58b6aff23b4bfd6620.png
/report/cluster_leader_to_seat_manager_6ed7acd83f1d64ea74ca54f514abfc8226c9c1b6.png
/report/decision-process-diagram_87605738da89340763591e25472b1a5d368a3a8c.png
/report/diagrams/workload_process.dia~/report/mtv_django_5dd2d0d2c1ffcceb25e4529ab84801143c10a1fa.png
/report/diagrams/workload_process.dia~
/report/mtv_django_5dd2d0d2c1ffcceb25e4529ab84801143c10a1fa.png
/report/postgrad_db_access_ebab76a8eb7ae70a46aecf3beaf469c3c6c893df.png
/report/postgrad_db_mssql_ef0eeb5bab1699a86e2711340a06df85d09d472a.png
/report/workload-update-process_24c3fddf1a49010e643e8c11cf7e79b153b312a0.png
/report/workload_process_34a653b75d88fa6e9faa80be2fc5a78259275d53.png
/report/mtv_django_58a799a6e7070273b13777ac032e54512a0f8b8e.png
/report/postgrad_db_mssql_f0185ba32cd6d676281aeed8baf5d4dc9900d172.png
/report/client-side_d4384ec20451ac4358db5cde0d2de7d731b6f66c.png
/report/cluster_leader_to_seat_manager_713e7ca826525f3582910f6ebc026b468f94a852.png
/report/decision-process-diagram_856298d9e23fc209e853dab4100a09489f472b32.png
/report/mtv_django_9c0da654c5cc4b8d9158161e2cd6d2bec5e5c745.png
/report/postgrad_db_access_fdd948a148e5feb22f0fe6c6b267ae48a3c2ac1c.png
/report/workload_process_1e6f37fc9a85c4496d6799245fc3ea90d0d1b182.png
/report/biblatex.sty
/report/etoolbox.def
/report/etoolbox.sty
/report/etoolbox.zip
/report/logreq.def
/report/logreq.sty
/report/report-blx.bib
/report/report.run.xml
/report/cluster_leader_to_seat_manager_ed7ca268be52fc661bd8ed921e116c231c2aa91a.png
/report/decision-process-diagram_9e381fced8a612ba7e98bfc675fe645fcab6ee55.png
/report/diagrams/WorkloadDB1.dia~
/report/postgrad_db_access_4db02de6fcdefc3e251b2e2b78b1f5298804cc71.png
/report/client-side_f109cd8aba59315ac76425484d3a60bc474996cb.png
/report/mtv_django_70b0e7795b11e1061174e565ee266b6057d3e18c.png
/report/postgrad_db_mssql_f63d736670fa7313265ee517712909c4ed4d48c4.png
/report/diagrams/WorkloadDB2.dia~
/report/report2.pdf
/report/workloadprocess_c9a098600dedf8b460e19c5df7d4db1717af6d57.png
/report/temp.aux
/report/temp.bbl
/report/temp.blg
/report/temp.dvi
/report/temp.log
/report/temp.out
/report/temp.pdf
/report/temp.tex
/report/temp.toc
