/src/graph/node.py~
/src/graph/node.pyc
/src/graph/vertex.py~
/src/graph/vertices.py~
/src/graph/__init__.pyc
/src/graph/edge.pyc
/src/graph/edge_test.pyc
/src/graph/node_test.pyc
/src/graph/vertex.pyc
/src/graph/vertex_test.pyc
/src/graph/vertex_test.py~
/lib/Machine Learning/src/10 Dimension Reduction/pca.py
/lib/Machine Learning/src/9 Unsupervised/som.py
/lib/Machine Learning/src/9 Unsupervised/somdemo.py
/src/som/som_test.py~
/lib/unsupervised/__init__.py
/lib/unsupervised/__init__.pyc
/lib/unsupervised/pca.py
/lib/unsupervised/pca.pyc
/lib/unsupervised/som.py
/lib/unsupervised/som.pyc
/lib/unsupervised/somdemo.py
/src/som/__init__.pyc
/src/som/som.pyc
/src/som/som_test.pyc
/pylib/pytidylib-0.2.1-py2.6.egg/tidylib/__init__.pyc
/pylib/pytidylib-0.2.1-py2.6.egg/tidylib/sink.pyc
/pylib/site.pyc
/lib/tidylib/__init__.pyc
/lib/tidylib/sink.pyc
/src/graph/#programme_tree.py#
/src/graph/programme_tree.pyc
/src/graph/programme_tree_test.pyc
/src/graph/programme_tree_test.py~
/src/programme/__init__.pyc
/src/programme/html/__init__.pyc
/src/programme/html/parser/Parser_test.pyc
/src/programme/html/parser/Parser_test.py~
/src/programme/html/parser/__init__.pyc
/src/programme/html/parser/__init__.py~
/src/programme/html/parser/function_list.pyc
/src/programme/html/parser/function_list_test.pyc
/src/programme/html/parser/function_list_test.py~
/src/programme/html/parser/page_finder.pyc
/src/programme/html/parser/page_finder.py~
/src/programme/html/parser/parser.pyc
/src/programme/html/parser/parser.py~
/src/programme/html/test.pyc
/src/programme/html/test.py~
/src/programme/html/test.py
/src/programme/html/parser/function_list.py~
/src/graph/programme_tree.py~
/src/graph/programme_tree.pyc
/src/graph/programme_tree_test.pyc
/src/graph/programme_tree_test.py~
/test.html
/test2.html
/programme.txt
/src/programme/graph/__init__.py~
/src/programme/graph/programme_tree_test.py~
/report/practice_presentation.org~
/report/practice_presentation.pdf
/report/practice_presentation.tex
/report/practice_presentation.tex~
/docs/Ideas.org~
/#README#
/docs/Ideas.pdf
/docs/Ideas.tex
/docs/Ideas.tex~
/docs/Ideas.txt
/docs/outline.pdf
/prototype/create.pyc
/src/programme/selection/programme.pyc
/src/programme/selection/rules.pyc
/src/programme/graph/__init__.pyc
/src/programme/graph/programme_tree.pyc
/src/constraints_satisfaction/degree.o
/src/constraints_satisfaction/libconstrain.so
/src/programme/selection/__init__.pyc
/src/programme/selection/paper.pyc
/report/report.aux
/report/report.dvi
/report/report.log
/report/report.out
/report/report.pdf
/report/report.toc
/report/tmp/practice_presentation.org~
/report/tmp/practice_presentation.tex~
/report/tmp/practice_presentation.tex
/report/tmp/practice_presentation.pdf
/src/constraints_satisfaction/propagator.o
/.anjuta/default.profile
/.anjuta/session/anjuta.session
/.anjuta/session/dock-layout.xml
/.anjuta_sym_db.db
/TODO.tasks
/curriculum-information-representation.anjuta
/report/client-side_f109cd8aba59315ac76425484d3a60bc474996cb.png
/report/cluster_leader_to_seat_manager_ed7ca268be52fc661bd8ed921e116c231c2aa91a.png
/report/decision-process-diagram_13790a38de2b295d2f9fc4bc179fd2f0a24a0ee9.png
/report/diagrams/WorkloadDB1.dia~
/report/diagrams/WorkloadDB1.svg
/report/diagrams/WorkloadDB2.dia~
/report/diagrams/edit-process.dia~
/report/diagrams/form-control-creation.dia~
/report/django-process_7b23ab8fedce1e6f81c9fe79836f2dbb29c31779.png
/report/images/WorkloadDB1.svg
/report/images/papergraph.png
/report/images/papergraph2.png
/report/mtv_django_4fe9fe90c9addc78fc20fd85831105e27acc3b51.png
/report/planner_report.bbl
/report/planner_report.blg
/report/planner_report.dvi
/report/planner_report.pdf
/report/planner_report.tex
/report/postgrad_db_access_4db02de6fcdefc3e251b2e2b78b1f5298804cc71.png
/report/postgrad_db_mssql_f63d736670fa7313265ee517712909c4ed4d48c4.png
/report/presentation/decision-process-diagram_55ae531df0c0999261725afc4040f8363dc46e6f.png
/report/presentation/present.pdf
/report/presentation/present.tex
/report/presentation/workload-process2_acf53206310462c62715076ec6c633463ce54d39.png
/report/texput.log
/report/workload_process_c9a098600dedf8b460e19c5df7d4db1717af6d57.png
/report/workload_report.bbl
/report/workload_report.blg
/report/workload_report.dvi
/report/workload_report.pdf
/report/workload_report.tex
/report/workload_report2.bbl
/report/workload_report2.blg
/report/workload_report2.dvi
/report/workload_report2.pdf
/report/workload_report2.tex
/report/workloadprocess_c9a098600dedf8b460e19c5df7d4db1717af6d57.png
/src/constraints_satisfaction/major.o
/src/db/degreeparser.pyc
/src/db/paper.pyc
/src/db/scheduleparser.pyc
/src/out.txt
