/src/graph/node.py~
/src/graph/node.pyc
/src/graph/vertex.py~
/src/graph/vertices.py~
/src/graph/__init__.pyc
/src/graph/edge.pyc
/src/graph/edge_test.pyc
/src/graph/node_test.pyc
/src/graph/vertex.pyc
/src/graph/vertex_test.pyc
/src/graph/vertex_test.py~
/lib/Machine Learning/src/10 Dimension Reduction/pca.py
/lib/Machine Learning/src/9 Unsupervised/som.py
/lib/Machine Learning/src/9 Unsupervised/somdemo.py
/src/som/som_test.py~
/lib/unsupervised/__init__.py
/lib/unsupervised/__init__.pyc
/lib/unsupervised/pca.py
/lib/unsupervised/pca.pyc
/lib/unsupervised/som.py
/lib/unsupervised/som.pyc
/lib/unsupervised/somdemo.py
/src/som/__init__.pyc
/src/som/som.pyc
/src/som/som_test.pyc
/pylib/pytidylib-0.2.1-py2.6.egg/tidylib/__init__.pyc
/pylib/pytidylib-0.2.1-py2.6.egg/tidylib/sink.pyc
/pylib/site.pyc
/lib/tidylib/__init__.pyc
/lib/tidylib/sink.pyc
/src/graph/#programme_tree.py#
/src/graph/programme_tree.pyc
/src/graph/programme_tree_test.pyc
/src/graph/programme_tree_test.py~
/src/programme/__init__.pyc
/src/programme/html/__init__.pyc
/src/programme/html/parser/Parser_test.pyc
/src/programme/html/parser/Parser_test.py~
/src/programme/html/parser/__init__.pyc
/src/programme/html/parser/__init__.py~
/src/programme/html/parser/function_list.pyc
/src/programme/html/parser/function_list_test.pyc
/src/programme/html/parser/function_list_test.py~
/src/programme/html/parser/page_finder.pyc
/src/programme/html/parser/page_finder.py~
/src/programme/html/parser/parser.pyc
/src/programme/html/parser/parser.py~
/src/programme/html/test.pyc
/src/programme/html/test.py~
/src/programme/html/test.py
/src/programme/html/parser/function_list.py~
/src/graph/programme_tree.py~
/src/graph/programme_tree.pyc
/src/graph/programme_tree_test.pyc
/src/graph/programme_tree_test.py~
/test.html
/test2.html
/programme.txt
/src/programme/graph/__init__.py~
/src/programme/graph/programme_tree_test.py~
/report/practice_presentation.org~
/report/practice_presentation.pdf
/report/practice_presentation.tex
/report/practice_presentation.tex~
/docs/Ideas.org~
/#README#
/docs/Ideas.pdf
/docs/Ideas.tex
/docs/Ideas.tex~
/docs/Ideas.txt
/docs/outline.pdf
/prototype/create.pyc
/src/programme/selection/programme.pyc
/src/programme/selection/rules.pyc
/src/programme/graph/__init__.pyc
/src/programme/graph/programme_tree.pyc
/src/constraints_satisfaction/degree.o
/src/constraints_satisfaction/libconstrain.so
/src/programme/selection/__init__.pyc
/src/programme/selection/paper.pyc
/report/report.aux
/report/report.dvi
/report/report.log
/report/report.out
/report/report.pdf
/report/report.toc
/report/tmp/practice_presentation.org~
/report/tmp/practice_presentation.tex~
/report/tmp/practice_presentation.tex
/report/tmp/practice_presentation.pdf
/src/constraints_satisfaction/propagator.o
/src/out.txt
/src/constraints_satisfaction/#major.cpp#
/src/constraints_satisfaction/.#major.cpp
/src/constraints_satisfaction/major.o
/src/db/paper.pyc
/src/db/__init__.pyc
/src/db/retrieve.pyc
/src/db/bsc.html
/src/db/degreeparser.pyc
/src/db/scheduleparser.pyc
/src/db/errors.txt
/report/diagrams/Workload_IO.dia~
/report/client-side_23d10d6ee75d47e6d6fa34721d30134fd6b3bb6b.png
/report/client-side_0c3231dba6daa14a7c2d95d7da7ad968e2c7be25.png
/report/mtv-django_86bdee4b8dc788730af76e1fccf1eca7b668c84a.png
/report/mtv-django_ed6fb928743c10862bca19dd5faaea688b0ca7e2.png
/report/postgrad_db_access_e9d77cff12da02163614602b162128e728fe09dd.png
/report/postgrad_db_mssql_8740db7a0b6d719fb50a7050a601fd8f9c089f27.png
/report/report.tex
/report/postgrad_db_mssql_53bd7b2687ee8c8e36e2006f1c66738b2dfa167e.png
/report/cluster_leader_to_seat_manager_359b6be6e5f53fecd8944ccd131651f4a17e7127.png
/report/mtv-django_bafad76620440664335769257d90de2b09dab23e.png
/report/workload_er_0196e141d451d6cdbc701ed48846681f6be1dffd.png
/report/cluster_leader_to_seat_manager_4bfb4a996abf582fae79210f09647ee9cf11019e.png
/report/mtv_django_bafad76620440664335769257d90de2b09dab23e.png
/report/postgrad_db_mssql_d0ac433bb37685b0560cb4227b2d7fdaf5c91063.png
/report/client-side_47b4babcee72ba7a3a4ed028e9838f0228c8618b.png
/report/cluster_leader_to_seat_manager_b1d52f2c5542f2dd863708faf160618f7d6e0c10.png
/report/mtv-django_f161cac0de618791f1f59dbc641bfdd02d915e10.png
/report/mtv_django_253877f140188ba443a8fdee2a4ac818bbb80893.png
/report/postgrad_db_access_b93af80fa01d39b60974b9317048bcab87b45ee5.png
/report/postgrad_db_mssql_5e1b2d495479e1441118f21f0892bc92d45da19d.png
/report/mtv_django_bafad76620440664335769257d90de2b09dab23e.png
/report/postgrad_db_mssql_d0ac433bb37685b0560cb4227b2d7fdaf5c91063.png
/report/workload_process_c9a098600dedf8b460e19c5df7d4db1717af6d57.png

/report/postgrad_db_access_130a65b6186beae003bc8ebe475a6bf8a6e1b32c.png
/report/client-side_9f735f0fa75e0e2e7363ce58b6aff23b4bfd6620.png
/report/cluster_leader_to_seat_manager_6ed7acd83f1d64ea74ca54f514abfc8226c9c1b6.png
/report/decision-process-diagram_87605738da89340763591e25472b1a5d368a3a8c.png
/report/diagrams/workload_process.dia~/report/mtv_django_5dd2d0d2c1ffcceb25e4529ab84801143c10a1fa.png
/report/diagrams/workload_process.dia~
/report/mtv_django_5dd2d0d2c1ffcceb25e4529ab84801143c10a1fa.png
/report/postgrad_db_access_ebab76a8eb7ae70a46aecf3beaf469c3c6c893df.png
/report/postgrad_db_mssql_ef0eeb5bab1699a86e2711340a06df85d09d472a.png
/report/workload-update-process_24c3fddf1a49010e643e8c11cf7e79b153b312a0.png
/report/workload_process_34a653b75d88fa6e9faa80be2fc5a78259275d53.png
/report/mtv_django_58a799a6e7070273b13777ac032e54512a0f8b8e.png
/report/postgrad_db_mssql_f0185ba32cd6d676281aeed8baf5d4dc9900d172.png
/report/client-side_d4384ec20451ac4358db5cde0d2de7d731b6f66c.png
/report/cluster_leader_to_seat_manager_713e7ca826525f3582910f6ebc026b468f94a852.png
/report/decision-process-diagram_856298d9e23fc209e853dab4100a09489f472b32.png
/report/mtv_django_9c0da654c5cc4b8d9158161e2cd6d2bec5e5c745.png
/report/postgrad_db_access_fdd948a148e5feb22f0fe6c6b267ae48a3c2ac1c.png
/report/workload_process_1e6f37fc9a85c4496d6799245fc3ea90d0d1b182.png
/report/biblatex.sty
/report/etoolbox.def
/report/etoolbox.sty
/report/etoolbox.zip
/report/logreq.def
/report/logreq.sty
/report/report-blx.bib
/report/report.run.xml
/report/cluster_leader_to_seat_manager_ed7ca268be52fc661bd8ed921e116c231c2aa91a.png
/report/decision-process-diagram_9e381fced8a612ba7e98bfc675fe645fcab6ee55.png
/report/diagrams/WorkloadDB1.dia~
/report/postgrad_db_access_4db02de6fcdefc3e251b2e2b78b1f5298804cc71.png
/report/client-side_f109cd8aba59315ac76425484d3a60bc474996cb.png
/report/mtv_django_70b0e7795b11e1061174e565ee266b6057d3e18c.png
/report/postgrad_db_mssql_f63d736670fa7313265ee517712909c4ed4d48c4.png
/report/diagrams/WorkloadDB2.dia~
/report/report2.pdf
/report/workloadprocess_c9a098600dedf8b460e19c5df7d4db1717af6d57.png
/report/temp.aux
/report/temp.bbl
/report/temp.blg
/report/temp.dvi
/report/temp.log
/report/temp.out
/report/temp.pdf
/report/temp.tex
/report/temp.toc
/report/mtv_django_b68bfb812856718bd4a18bd8976f6f9423f16c5c.png
/report/workload_report.html
/report/workload_report.pdf
/report/workload_report.tex
/report/workload_report.bbl
/report/workload_report.blg
/report/workload_report.dvi
/report/formula.py
/report/images/papergraph.png
/report/images/papergraph2.png
/report/papergraph.png
/report/temp.py
/report/workload_formula.py
/report/.ropeproject/
/report/decision-process-diagram_5a4f3688dc6c1f9cd1773c6b3551b9a214b2c921.png
/report/planner_report.pdf
/report/planner_report.tex
/.anjuta/default.profile
/.anjuta/session/anjuta.session
/.anjuta/session/dock-layout.xml
/.anjuta_sym_db.db
/TODO.tasks
/curriculum-information-representation.anjuta
/report/texput.log
/report/workload_report2.bbl
/report/workload_report2.blg
/report/workload_report2.dvi
/report/workload_report2.pdf
/report/workload_report2.tex
/report/mtv_django_1bb238194c8be91ddb83a09fe99e063a358192ab.png
/report/mtv_django_63eec25991761d5a6f76bf4797aaf56d2e6dd846.png
/report/django-process_e02671913ac17313d5e595e00c5addf36a3958a3.png
/report/django-process_f54a1cd37309be82d44b0148b3eebcf522887165.png
/report/workload_report2.aux
/report/workload_report2.log
/report/workload_report2.out
/report/workload_report2.toc
/report/presentation/present.pdf
/report/presentation/present.tex
/report/planner_report.bbl
/report/planner_report.blg
/report/planner_report.dvi
/report/presentation/#present.html#
/report/presentation/decision-process-diagram_a3ea0a044f04e0f40d000438062644c94815a03a.png
/report/presentation/decision-process-diagram_55ae531df0c0999261725afc4040f8363dc46e6f.png
/report/presentation/present2.org
/report/presentation/workload-process2_008291fb81ecf04fbb61509e77c5425e6bb8e70b.png
/report/presentation/workload-process3_0f134b5e85807c8bc95938c630df71784a8808c4.png
/report/presentation/workload-process2_2bc0b9671feec364f822d9a0bdf7b56ee10c3725.png
/report/presentation/workload-process3_5a1dd20f49c95a98ea77c0497db929e840eceb7c.png
/report/presentation/workload-process2_7da1ca71b3de21fbdfdf906d89a175bff3ede084.png
/report/presentation/workload-process3_0779c335571c8b7ac8e4843711adc1916d7a74e2.png
/report/presentation/workload-process2_60f388d1f98d8c90e21a87f849251b3949fcefad.png
/report/presentation/workload-process3_0d4afe5e5a1df73533de63be05f1edb8a2580edd.png
/report/presentation/clock.jpg
/report/presentation/workload-process2_0d19ed77e901665e0fa1fca90f65f95132e35acb.png
/report/presentation/workload-process3_3b3733c31b9fbd83dcbadefd94a8819d866fc84a.png
/report/presentation/workload-process2_b48218861eb0bd8e0c316725dc758f5a5793c5ea.png
/report/presentation/workload-process3_dcf84624b37452842c084a2b58bf5fb1ecd5a4c9.png
/report/presentation/workload-process2_acf53206310462c62715076ec6c633463ce54d39.png
/report/presentation/bitnami-djangostack-1.2.5-0-windows-installer.exe
/report/presentation/python-2.7.1.msi
/report/presentation/workload-process2_7b1d7a153fe8947ea9e2ee0513f769fcde78c824.png
/report/django-process_e2746934d2c049e7460b4fc3e86f0342ba01129d.png
/report/mtv_django_bb86014bcf9170699a72222790a3e80efa7534d5.png
/report/django-process_4c6b8900678943418ef624730825362e22790283.png
/report/mtv_django_1f6e87c0fae106171c535ff25e0f01c1af5d49f3.png
/report/workload_report2.lof
/report/workload_report2.lot
/report/django-process_7b23ab8fedce1e6f81c9fe79836f2dbb29c31779.png
/report/mtv_django_4fe9fe90c9addc78fc20fd85831105e27acc3b51.png
/report/mtv_django_60e357e856107377a70a034ecefc851cf3b7cec5.png
/report/mtv_django_ba9883b5cda1343d45320bf5b4ea88f04bb13aca.png
/report/diagrams/WorkloadDB1.svg
/report/diagrams/edit-process.dia~
/report/diagrams/form-control-creation.dia~
/report/images/WorkloadDB1.svg
/report/mtv_django_a209d096764c91e9c5411a0e4111bfd3aac8655f.png
/report/mtv_django_be0c766672db0995c43b269cfe01ac5dc2377161.png
/report/decision-process-diagram_eae2bf0a9a0a0e47a5c8553721774a35a23b24e3.png
/report/decision-process-diagram_4ba6e1c7f4a92e280d9d4a95e45bc1f8c7d87dee.png
/report/decision-process-diagram_13790a38de2b295d2f9fc4bc179fd2f0a24a0ee9.png
/report/mtv_django_c1e688247bfb705a17a00de33208425179078a9b.png
